@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@media screen and (max-width: 768vw){
body {
    display: flex;
    font-family: Arial, sans-serif;
    width: 1920vw;
    height: 1080vh;
    background-color: #B2B49B;
    }
}
.SaibaMais-section {
    width: 1518px;
    height: 2580px;
    display: flex;
    position: absolute;
    padding-top: 3%;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat';
    background-color: #B2B49B;
}

.textbox1 {
    width: 1200px;
    height: 140px;
    display: flex;
    position: absolute;
    margin-left: 10%;
    top: 290px;
    text-align: center;
    align-items: center;
    padding: 1%;
    border: 2px solid #b19f9f;
    border-radius: 10px; 
    background-color: lightgray;
    font-family: 'Montserrat';
}

.imageBox {
    background-image: url("./SaibaMaisAssets/images/apple-apple-airpods.gif");
    background-size: center;
    width: 1040px;
    height: 240px;
    display: flex;
    position: absolute;
    margin-left: 15%;
    top: 1200px;
    padding: 1%;
    border: 2px solid #b19f9f;
    border-radius: 10px; 
    
}

.box-container {
    width: 1280px;
    height: 832px;
    display: flex;
    position: absolute;
    padding: 5%;
    margin-left: 7%;
    top: 500px;
    border: none;
}

ul {
    display: flex;
    position: absolute;
    border: none;
}

ul li {
    display: inline;
    margin-left: 20px;
    width: 394px;
    height: 662px;
    border: none;
}

li div{
    display: flex;
    align-items: center;
    position: absolute;
    border: none;
}
.box1 {
    
    background-size:cover;
    background-position: center;
    width: 316px;
    height: 513px;
    flex-shrink: 0;
    border: 2px solid #b19f9f;
    border-radius: 10px; 
    background-color: lightgray;
    border: 2px solid #b19f9f;
    transition: transform 0.3s ease;
}

.box2 {
    
    background-size:cover;
    background-position: center;
    width: 316px;
    height: 513px;
    flex-shrink: 0;
    border: 2px solid #b19f9f;
    border-radius: 10px; 
    background-color: lightgray;
    border: 2px solid #b19f9f;
    transition: transform 0.3s ease;
}

.box3 {
    
    background-size:cover;
    background-position: center;
    width: 316px;
    height: 513px;
    flex-shrink: 0;
    border: 2px solid #b19f9f;
    border-radius: 10px; 
    background-color: lightgray;
    border: 2px solid #b19f9f;
    transition: transform 0.3s ease;
}

.box1:hover {
    transform: scale(1.15);
}
.box2:hover {
    transform: scale(1.15);
}
.box3:hover {
    transform: scale(1.15);
}

.box1 {
    background-image: url(./SaibaMaisAssets/images/tarun-savvy-TE6e6mEasCE-unsplash.jpg);
}

.box2 {
    background-image: url(./SaibaMaisAssets/images/giphyairpod.gif);
}

.box3 {
    background-image: url(./SaibaMaisAssets/images/jackson-simmer-iACz8TaDWsI-unsplash\ 1\ \(1\).png);
}


* {
    border: none;
    overflow-wrap: initial;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    overflow-x: hidden;
}