.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat';
}

.sobre-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat';
    
}

.servicos-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat';
}